<section class="modal fade">
    <section class="modal-dialog" role="document">
        <section class="modal-content">
            <section class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </section>
            <section class="modal-body">
                <p>Modal body text goes here.</p>
            </section>
            <section class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </section>
        </section>
    </section>
</section>